<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.four.dao.IOssDao" >
  <resultMap id="BaseResultMap" type="com.four.model.Oss" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,photo
  </sql>
  
  
  <select id="queryOss" resultType="com.four.model.Oss" >
    select * from t_oss 
  </select>
  
  <!-- 新增 -->
  <insert id="saveFile" parameterType="com.four.model.Oss">
  	insert into t_oss
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="id !=null and id != ''">
  			id,
  		</if>
  		<if test="photo !=null and photo != ''">
  			photo,
  		</if>
  	</trim>
  </insert>
  
 <!--  <update id="updateTree" parameterType="com.four.model.Photo" >
    update t_photo
    <set >
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id}
  </update> -->
  

   <!-- 上传图片 -->
 <!--   <insert id="uploadImg">
     insert into t_photo 
     (photoid,photoname,uploadtime,downloadtime,photostatus) values
   	(#{photoid,jdbcType=INTEGER},
    #{photoname,jdbcType=VARCHAR},
    #{uploadtime,jdbcType=VARCHAR},
    #{downloadtime,jdbcType=VARCHAR},
    #{photostatus,jdbcType=VARCHAR})
   </insert> -->
   
  
</mapper>