<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.four.dao.DaoTree" >
  <resultMap id="BaseResultMap" type="com.four.model.Tree" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, text, url
  </sql>
   
   
    <select id="selectTreeList" resultMap="BaseResultMap"  parameterType="com.four.model.Tree">
       select * from t_tree 
    </select>
  
  
  <select id="treelist"  resultType="com.four.model.Tree" >
  select * from t_tree
  </select>
  
  
  <!-- 不同的人登录显示不同的树 -->
  <select id="getRoleTreeList" resultType="java.util.LinkedHashMap"  parameterType="com.four.model.User">
       select tt.* from t_user_role ur,role_tree rt ,t_tree tt where ur.roleid=rt.roleId and rt.treeid =tt.id
       and ur.userid = #{userid}
    </select>
  
  
  
  

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_tree
    where id = #{id,jdbcType=INTEGER}
  </select>




 <!-- 根据id查询 角色副权限-->
      <select id="queryRoleTree" resultMap="BaseResultMap"  parameterType="int">
       select * from role_tree rt,t_tree tt where rt.treeId = tt.id and rt.roleId=#{roleId}
    </select>


 <delete id="deleteTreeRoleRealtion" parameterType="String">
   
     delete from role_tree where roleId=#{roleId}
   </delete>

 <insert id="addTreeRoleRelation" parameterType="java.util.List">
   
     insert into role_tree (roleId,treeId) values
     <foreach collection="list" item="item" index="index" separator=",">
         (#{item.roleId},#{item.treeId})
     </foreach>
   
   </insert>






  <insert id="insert" parameterType="com.four.dao.DaoTree" >
    insert into t_tree (id, pid, text, 
      url)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  
  
   
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_tree
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   <update id="updateByPrimaryKey" parameterType="com.four.dao.DaoTree" >
    update t_tree
    set pid = #{pid,jdbcType=INTEGER},
      text = #{text,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  
  <insert id="insertSelective" parameterType="com.four.model.Tree" >
    insert into t_tree
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.four.model.Tree" >
    update t_tree
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>