<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"  default-autowire="byName">
	
	
	
	<!-- 注入实现类 -->
   <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的,保持唯一性 -->
   <dubbo:application name="dubbo_provider_api"></dubbo:application>
   <!-- 使用zookeeper注册中心暴露服务地址 -->    
   <dubbo:registry address="N/A" register="" check="false" subscribe="false" />
   <!--192.168.31.211-->
    <!-- dubbo端口号 -->
    <dubbo:protocol name="dubbo" port="20880" ></dubbo:protocol>

    <dubbo:service interface="com.four.service.IUserService" ref="userService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.SolrService" ref="solrService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.IOssService" ref="ossService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.ILoginService" ref="loginService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.IServiceTree" ref="treeService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.RoleService" ref="roleService" retries="0" timeout="60000" />
    <dubbo:service interface="com.four.service.INoticeService" ref="noticeService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.JianLiService" ref="jianLiService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.BosssService" ref="bosssService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.GongsiService" ref="gongsiService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.NewService" ref="newService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.TreesService" ref="treesService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.UsersService" ref="usersService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.ZhiweiService" ref="zhiweiService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.GuanggaoService" ref="guanggaoService" retries="0" timeout="60000"/>
    <dubbo:service interface="com.four.service.LogService" ref="logService" timeout="60000"/>
    <dubbo:service interface="com.four.service.GuanggaoService" ref="guanggaoService" timeout="60000"/>



</beans>
